# Userfile
*.cyprj.*
*.cywrk.*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*/ComponentUpdateLog.txt

# Folders
301 Project/Sensor Test.cydsn/codegentemp/
301 Project/Sensor Test.cydsn/CoretexM3/
301 Project/Sensor Test.cydsn/Debug/
301 Project/Sensor Test.cydsn/Generated_Source/